.container {
  max-width: 400px;
  margin: 30px auto;
  padding: 15px;
  color: #ffa22f;
  background: linear-gradient(#ffe1c5, 70%, #fddbdb);
  border-radius: 10px;
  display: block;
}

.navbar {
  align-items: stretch;
}

.search-button,
.search-button:active {
  color: #ffa22f;
  border-color: #ffa22f;
}

.search-button:hover,
.search-button:visited {
  color: #ffffff;
  border-color: #ffa22f;
  background-color: #ffa22f;
}

.container-fluid {
  background-color: #ffe1c5;
}

.titles {
  margin: auto;
  p
