.container {
  max-width: 600px;
  margin: 0 auto;
  color: #ffcf5e;
  background-color: #9ed79a !important;
  border-radius: 10px;
  display: block;
}
h1,
h2 {
  font-size: 30px;
}
h1,
h2,
h3,
h4 {
  color: #068b78;
}
.card-subtitle {
  font-size: smaller;
  font-weight: 500;
}
.card-img,
.card-img-bottom,
.card-img-top {
  width: 60%;
}
